.inputsBlock {
    margin-bottom: 20px;
}

.fieldItem {
    margin: 10px 0px;
    display: inline-block;
}

.fieldItem.fileItemIsFriend
{
    margin-right: 20px;
}

.fieldItem label {
    font-weight: bold;
    display: block;
}

.fieldItem .term {
    padding: 5px;
    width: 200px;
    margin-top: 5px;
}

.fieldItem .isFriend {
    padding: 5px;
    width: 200px;
    margin-top: 5px;
}

