.nav {
    grid-area: n;
    padding: 20px;
    background-color: #ff0000bf;
    margin: 5px;
    color: #333;
  }

.nav a,
.nav ul li
{
  color: white;
} 

.item a {
    text-decoration: none;
}  

.menu ul {
  padding-left: 20px;
}

.friends {
  margin-top: 40px;
}

.friends ul {
  text-align: center;
  display: block;
  margin: 0px;
  padding: 0px;

  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}

.friends ul li {
  display: inline-block;
}

.friends .image {
  display: inline-block;
}

.friends .image img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.nav .title {
    font-size: 24px;
    margin-bottom: 20px;
}

.nav ul li a.active {

    color: #333;
}

.nav .friends li
{
    margin: 0px 5px;
}

.nav .friends a {

    font-size: 12px;
    display: block;
    font-weight: bold;
}

.nav .friends .name {
  margin-top: 5px;
}