.image {
    max-width: 100%;
}

.avatar {
    max-width: 150px;
    border: 1px solid #666;
}

.descriptionBlock 
{
    padding: 10px;
}

.aboutItem {
    margin-bottom: 10px;
    max-width: 100%;
    word-break: break-all;
}

.aboutTitle {
    font-weight: bold;
}

span.aboutTitle {
    margin-right: 5px;
}

.contactsBlock {
    margin-top: 10px;
}

.contactList {
    margin-top: 10px;
    margin-left: 10px;
    padding: 0px;
    list-style-type: none;
}

.contactList span.aboutTitle {
    font-weight: normal;
}

.description {
    margin-top: 10px;
}

.fullName {
    color: #f2242e;
    font-weight: bold;
}
.updateAvatarBtn {
    display: none;
}

.ownerImage {
    cursor: pointer;
}

.startChatWrap {
    margin: 10px 0px;
}