.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  "h h"
  "n c";
  width: 1200px;
}

.app-wrapper header {
  grid-area: h;
}

.app-wrapper-content {
    grid-area: c;
    background-color: white;
    margin: 5px 5px 5px 0px;
    color: #333;
    border-right: 5px solid #ff0000bf;
    border-bottom: 5px solid #ff0000bf;
    padding: 10px;
}

.app-wrapper-content a {
    color: #f2242e;
    
}

.app-wrapper-content a.active {
    color: #000;
}

.app-wrapper button {
  color: #f2242e;
  background: transparent;
  border:2px solid #f2242e;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.app-wrapper textarea {
  width: 300px;
  height: 70px;
}

.app-wrapper input[type=text],
.app-wrapper input[type=password],
.app-wrapper input[type=number],
.app-wrapper textarea
{
  border:2px solid #333;
  padding: 5px;
  box-sizing: border-box;
}

.app-wrapper input[type=checkbox]
{
  margin-left: 0px;
}

.app-wrapper-content h1
{
  margin-top: 0px;
}

.clear {
  clear: both;
}