.dialogs {
/*    
    display: grid;
    grid-template-columns: 3fr 10fr;
    position: relative;
*/
}

.dialogItems {
    padding: 10px;
}

.selectDialog {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialogItems .dialog {
    margin: 10px 0px;
    display: none;
}

.dialogItems.selectDialogMode .dialog {
    display: block;
}

.mobileTitle {
    font-weight: bold;
    margin-top: 20px;
}

.mobileTitle .username {
    color: #f2242e;
}

@media (min-width: 768px) {
    .dialogItems .dialog, .dialogItems .dialog.active {
        display: block;
    }

    .dialogListHead {
        display: none;
    }

    .mobileTitle {
        display: none;
    }
}

.dialogItems .dialog.active {
    background-color: #fff4f6;
}

.dialogItems .dialog.active .name a {
    color: black;
}

.messages {
    padding: 10px;
}

.messages .message {

    margin: 10px auto;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    display: flex;
    gap: 20px;
}

.messages .message .body {
    padding-top: 20px;
}

.messages .message.outgoing {
    flex-direction: row-reverse;
}

.messages .message .image {
    display: inline-block;
}

.dialogItems .dialog .image img,
.messages .message .image img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.dialogItems .dialog .image {
    display: inline-block;
    vertical-align: middle;
}

.dialogItems .dialog .name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.form {
    margin-top: 20px;
}